<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>登录</title>
  <meta name="description" content="particles.js is a lightweight JavaScript library for creating particles."/>
  <meta name="author" content="Vincent Garreau" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <link rel="stylesheet" media="screen" href="css/style.css"/>
  <link rel="stylesheet" type="text/css" href="css/reset.css"/>
</head>
<body>
<!--登录页面-->
<div id="particles-js">
		<div class="login">
			<div class="login-top">
				登录
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/name.png"/></div>
				<div class="login-center-input">
					<input id="name" type="text" name="name" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="img/password.png"/></div>
				<div class="login-center-input">
					<input id="password" type="password" name="password" value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-button">
				<div class="login-button" id="login-button">
					登录
				</div>
				<div class="login-button" id="regist-button" style="margin-top: 5%">
					注册
				</div>
			</div>
			<div style="margin-left: 30%">
				<span id="fail"></span>
			</div>
		</div>

</div>

<!--注册页面-->

<script src="jquery/jquery.min.js"></script>
<script src="jquery/particles.min.js"></script>
<script src="js/app.js"></script>
<script src="js/login.js"></script>
<script src="js/regist.js"></script>
<script type="text/javascript">
</script>
<div style="text-align:center;">
<p>更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
</div>
</body>
</html>